<template>
  <input class="input" :value="value" :placeholder="placeholder" />
</template>

<script>
export default {
  name: 'Input',
  props: {
    placeholder: {
      type: String,
      required: false,
    },
    value: {
      type: [String, Number],
      required: false,
    },
    label: {
      type: String,
      required: false,
    },
    error: {
      type: String,
      required: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.input {
  height: 50px;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #919191;
  border-radius: 2px;
  color: #343434;
  font-size: 16px;

  &::placeholder {
    color: #919191;
  }
}
</style>
