<template>
  <button v-bind:class="classObject" :disabled="disabled">{{ label }}</button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    label: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'primary',
      validatior: (value) =>
        ['primary', 'call-to-action'].indexOf(value) !== -1,
    },
  },
  computed: {
    classObject: function() {
      const { type } = this;
      return {
        button: true,
        'button--primary': type === 'primary',
        'button--call-to-action': type === 'call-to-action',
      };
    },
  },
};
</script>

<style scoped lang="scss">
.button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  cursor: pointer;

  &--primary {
    background-color: #3434e0;
    font-size: 18px;
    font-weight: 500;
  }

  &--call-to-action {
    background-color: #c6007e;
    font-size: 16px;
    font-weight: 900;
  }

  &:disabled {
    background-color: #c1c1c1;
    cursor: not-allowed;
  }
}
</style>
