<template>
  <div class="containerblock">
    <div class="containerblock__header">
      <slot name="header"></slot>
    </div>
    <div class="containerblock__body">
      <slot name="body"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ContaierBlock',
};
</script>

<style scoped>
.containerblock {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.containerblock__header {
  height: 50px;
  display: flex;
}

.containerblock__body {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
</style>
