@import './fonts';

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #f2f2f2;
  background-image: url(./assets/images/map.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}
