<template>
  <div class="home">
    <div class="home__container">
      <ContainerBlock>
        <template v-slot:header>
          <div class="home__header">
            <img src="@/assets/images/mito.svg" class="home__logo" />
            <p class="home__title">Mito Airline</p>
          </div>
        </template>
        <template v-slot:body>
          <form>
            <div class="home__searchlayout">
              <Input placeholder="Origin" />
              <Input placeholder="Destination" />
              <Input placeholder="Departure" />
              <Input placeholder="Return" />
              <div class="home__buttoncontainer">
                <div class="home__searchbutton">
                  <Button label="Search" @click.native="goToNextPage" />
                </div>
              </div>
            </div>
          </form>
        </template>
      </ContainerBlock>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Button/Button.vue';
import Input from '@/components/Input/Input.vue';
import ContainerBlock from '@/components/ContainerBlock/ContainerBlock.vue';

export default {
  name: 'Home',
  components: {
    Button,
    Input,
    ContainerBlock,
  },
  methods: {
    goToNextPage: function() {
      this.$router.push({ name: 'SelectFlight' });
    },
  },
  beforeCreate() {
    this.$store.dispatch('loadStationsData');
  },
};
</script>

<style scoped lang="scss">
.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 570px;
  }

  &__header {
    background-color: #06038d;
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0 15px;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
  }

  &__searchlayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }

  &__buttoncontainer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
  }

  &__searchbutton {
    width: 260px;
  }
}

@media (max-width: 600px) {
  .home {
    align-items: flex-start;

    &__container {
      width: 100%;
    }

    &__searchlayout {
      grid-template-columns: 1fr;
    }

    &__searchbutton {
      width: 100%;
    }
  }
}
</style>
